page-home {
    .imagen {
        display: block;
        width: 100%;
        height: 35%;
    }
    .tarjeta {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 100%;
        height: 40%;
    }
    .imgCarta {
        margin-left: auto;
        margin-right: auto;
        height: 35px;
        width: 35px;
    }
}